<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>jStrg.GWT.Login Server</servlet-name>
        <servlet-class>jStrg.GWT.server.InizialicationServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jStrg.GWT.Login Server</servlet-name>
        <url-pattern>/jStrg.GWT.Login/Server</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jStrg.GWT.Login Service</servlet-name>
        <servlet-class>jStrg.GWT.server.service.ServiceImpl</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jStrg.GWT.Login Service</servlet-name>
        <url-pattern>/jStrg.GWT.Login/Service</url-pattern>
    </servlet-mapping>


</web-app>
